
.main {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 20px;
  color: white;
  background-color: #0D1320; /* Mörk bakgrundsfärg */
  border-radius: 10px; /* Rundade hörn */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Lätt skugga */
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid #444; /* Grå bottenlinje */
  padding-bottom: 1rem;

  .about,
  .work,
  .education {
    flex: 1;
    margin-right: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #f0f0f0; /* Ljus textfärg */
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #ccc; /* Grå textfärg */
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 10px 0;

      li {
        margin-bottom: 5px;
        color: #ccc; /* Grå textfärg */
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 2rem;

  .skills,
  .info {
    flex: 1;
    margin-right: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #f0f0f0; /* Ljus textfärg */
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 16px;
        margin-bottom: 5px;
        color: #ccc; /* Grå textfärg */
      }
    }
  }

  .info {
    flex: 1;

    p {
      font-size: 16px;
      margin-bottom: 10px;
      color: #ccc; /* Grå textfärg */
    }
  }
}

.gh-link {
 
    color: #0070f3; /* GitHub-färg */
    text-decoration: none;
    transition: color 0.3s ease; /* Gör övergången mjuk när färgen ändras */
  
}

.gh-link:hover {
  color: #0056b3;
}

.skills__li {
  display: flex;
  gap: 2rem;
  
}
.icon {
  height: 24px;
  width: 21px;
  
}